<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/style.css" /> -->
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/navigation.css" />
    <title>Электронная записная книжка</title>
</head>
<body>
    <%- include('navigation.ejs') %>
    <h1>Электронная записная книжка</h1>
    <p>Разработать веб-приложение, позволяющее сохранять некоторую важную информацию. При работе приложения поддерживаются два основных режима – режим ввода новых записей и режим поиска записей.</p>
    <h2>Режим ввода новых записей</h2>
    <p>При переходе в режим ввода новых записей, пользователь попадает на страницу, в которой содержится форма для ввода следующих данных:</p>
    <ul>
        <li>Наименование записи (заголовок)</li>
        <li>Текстовая запись</li>
        <li>Произвольное количество связанных с записью файлов произвольного типа</li>
        <li>Произвольное количество «меток»</li>
    </ul>
    <p>При сохранении записи, связанные с записью файлы загружаются на сервер и сохраняются либо в базе данных, либо в специальном каталоге на сервере. Метки, которые связываются с записью, могут быть как уже имеющиеся в системе («работа», «учеба», «семья», «хобби»), так и любые другие, создаваемые пользователем. Каждая запись может быть помечена произвольным числом меток.</p>
    <h2>Режим поиска записей</h2>
    <p>В режиме поиска, пользователь может искать записи одним из следующих способов:</p>
    <ul>
        <li>По метке. В таком случае системой выдается список всех записей, помеченных данной меткой.</li>
        <li>По слову в заголовке. При этом типе поиска, система ищет введенное пользователем слово в заголовках записей и выдает все такие записи, в которых это слово есть.</li>
        <li>По слову в тексте записи. При этом типе поиска, система ищет введенное пользователем слово в тексте записей и выдает все такие записи, в которых это слово есть.</li>
    </ul>
    <p>Получив список записей, пользователь может прочитать текст и загрузить с сервера связанные с записью файлы.</p>
</body>
</html>